@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  background: #202124; 
  text-align: center;
  font-family: 'Lato';
}

.header {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.desc {
  color: white;
  font-size: 20px;
  max-width: 500px;
  text-align: left;
  margin: auto;
}

.smallVideo {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  display: flex;
}